<h1>Books</h1>

<table>
<th>Title</th> <th>Body</th>
<th  colspan = "3" ></th>

  <% @books.each do |obj| %>

 <tr>
 <td><a><%= obj.title %>
 </a></td>
 <td><a><%= obj.body %>
 </a></td>

<td><a href="/books/<%= obj.id %>">Show
</a></td>
<td><a href="/books/<%= obj.id %>/edit/">Edit
</a></td>
<td><a rel="nofollow" data-method="delete" href="/books/<%= obj.id %>">Destroy
</a></td>

<% end %>
</tr>
</table>

<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">


  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="field">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book" />
  </div>
</form>